%h1 All words

%table.table
  %thead
    %tr
      %th
        \#
      %th
        Value
      %th
        Language
      %th
        User
      %th
        Translations Count
      %th
        Actions
  %tbody
    - @words.each do |word|
      %tr
        %td
          = word.id
        %td
          = word.content
        %td
          = word.language.name
        %td
          = word.user&.secret_email
        %td
          = word.translations.size
        %td
          = link_to('Show', word_path(word), class: 'btn btn-primary')
          - if user_signed_in?
            = link_to('Edit', edit_word_path(word), class: 'btn btn-warning')
            = link_to('Delete', word_path(word), class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure you want to delete this post'},)
= paginate @words

